<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="./lib/vue.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model="name">
        <input type="text" v-model="person.name">
        <p>{{val}}</p>
        <p>{{person.name}}</p>
    </div>
    <script>
        let vm = new Vue({
            el: '#app',
            data: {
                name: '',
                val: '',
                person: {
                    name: 'hhh',
                }
                
            },
            watch: {
                //直接监控数据的变化
               name (newData,oldData) {
                   this.val = this.name
               }, 
               person: {
                    personHandler (newData,oldData) {
                        console.log(newData.name);
                    },
                    // deep: true
               }
            },
            computed: {
                
            },
        })
    </script>
</body>
</html>