<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="./lib/vue.js"></script>
</head>
<body>
    <div id="app">
        <button @click="addUser">增加对象数据</button>
        <ul>
            <li v-for="(item,key) of user">
                {{item}}---{{key}}
            </li>
        </ul>
        <button @click="addList">增加数组数据</button>
        <ul>
            <li v-for="(item,index) of list">
                {{item}}
            </li>
        </ul>
    </div>
    <script>
        let vm = new Vue({
            el: '#app',
            data: {
                user: {
                    name: 'haha',
                    age: 18,
                    gender: 'man'
                },
                list: [1,2,3]
            },
            methods: {
                addUser() {
                    this.$set(this.user,'skill','web')
                },
                addList() {
                    Vue.set(this.list,3,4)
                }
            },
        })
    </script>
</body>
</html>