<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="./lib/vue.js"></script>
</head>
<body>
    <div id="app">
        <button @click="change">click me</button>
        <one v-if="flag=='one'"></one>
        <two v-if="flag=='two'"></two>
        <component :is="flag"></component>
    </div>
    <script>
        Vue.component('one',{
            template: `<div>component one</div>`
        })
        Vue.component('two',{
            template: `<div>component two</div>`
        })
        let vm = new Vue({
            el: '#app',
            data: {
                flag: 'one'
            },
            methods: {
                change() {
                    this.flag = this.flag==='one'?'two':'one'
                }
            }
        })
    </script>
</body>
</html>