<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../lib/vue.js"></script>
</head>
<body>
    <div id="app">
        <parent></parent>
    </div>
    <template id="tpl">
        <div>
            <h1>this is child component</h1>
            <input type="tet" v-model="mymessage">             
        </div>
    </template>
    <template id="tpl1">
        <div>
            <p>this is parent component!</p>
            <input type="text" v-model="message">
            <child></child>
        </div>
    </template>
    <script>
        Vue.component('child', {
            inject: ['for'], //得到父组件传递过来的数据
            data() {
                return {
                    mymessage: this.for
                }
            },
            template: '#tpl'
        })
        Vue.component('parent', {
            template: '#tpl1',
            provide: function () {
              return {
                  for: 'fdfddf'
              }  
            },
            data() {
                return {
                    message: 'hello'
                }
            }
        })
        var app = new Vue({
            el: '#app',
        })
    </script>
</body>

</html>