<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../lib/vue.js"></script>
</head>

<body>
    <div id="app">

    </div>
    <script>
        Vue.component('child', {
            props: {
                value: String, //v-model会自动传递一个字段为value的prop属性
            },
            data() {
                return {
                    mymessage: this.value
                }
            },
            methods: {
                changeValue() {
                    this.$emit('input', this.mymessage); //通过如此调用可以改变父组件上v-model绑定的值
                }
            },
            template: 
            `
            <div>
                <input type="text" v-model="mymessage" @input="changeValue"> 
            </div>
            `
        })
        Vue.component('parent', {
            template: `
            <div>
                <p>this is parent component!</p>
                <p>{{message}}</p>
                <child v-model="message"></child>
            </div>
        `,
            data() {
                return {
                    message: 'hello'
                }
            }
        })
        var app = new Vue({
            el: '#app',
            template: `
            <div>
                <parent></parent>
            </div>
        `
        })
    </script>
</body>

</html>