/*

app-template.css overrides

remove this comment if used
remove this file if not

*/


.v-enter,.v-leave-to {
    opacity: 0;
    transform: translateY(60px)
}
.v-enter-active,.v-leave-active ,.v-move{
    transition: all .5s ease-in-out
}
.v-leave-active {
    position: absolute;
}